.Hero {
    $self: &;

    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color: #232323;


    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        opacity: .45;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    &__content {
        z-index: 2;
    }


}