.Logo {
    display: flex;
    align-items: center;

    &__img {
        width: 100%;
        height: auto;
        max-width: 80px;
    }

    &__text {
        font-size: 2em;
        font-weight: 800;
    }
}